.DS_Store
.*.sw?
*.cso
tmp/
*.xcodeproj/* !*.xcodeproj/project.pbxproj
lib/iphone/phonegap-min.js
lib/iphone/phonegap.js
android/bin
android/gen
default.properties
gen
assets/www/phonegap.js
local.properties
framework/phonegap.jar
framework/assets/www/.DS_Store
Windows Phone/framework/Bin
Windows Phone/framework/obj
*.csproj.user