[project]
	description = Fork of phonegap with addition of scroll / zoom disabling idea from Colin Eberhardt http://www.scottlogic.co.uk/blog/colin/
[access "refs/*"]
	owner = group user/Alexey Nesterov (alek-sys)
[access "refs/for/refs/*"]
	read = group user/Alexey Nesterov (alek-sys)
	push = group user/Alexey Nesterov (alek-sys)
	label-Code-Review = -2..+2 group user/Alexey Nesterov (alek-sys)
	label-Verified = -1..+1 group user/Alexey Nesterov (alek-sys)
	rebase = group user/Alexey Nesterov (alek-sys)
	removeReviewer = group user/Alexey Nesterov (alek-sys)
	submit = group user/Alexey Nesterov (alek-sys)
[access "refs/heads/*"]
	read = group user/Alexey Nesterov (alek-sys)
	create = group user/Alexey Nesterov (alek-sys)
	push = +force group user/Alexey Nesterov (alek-sys)
	pushMerge = group user/Alexey Nesterov (alek-sys)
[access "refs/tags/*"]
	push = +force group user/Alexey Nesterov (alek-sys)
	pushTag = group user/Alexey Nesterov (alek-sys)
	pushSignedTag = group user/Alexey Nesterov (alek-sys)
